@media (max-width: 768px) {
	.navigation {
		display: none;
	}
	.fab {
		display: none;
	}
	.fas {
		display: none;
	}
	.logos {
		display: none;
	}
	.html {
		padding-left: 150px;
	}
	.burger-icon {
		display: block;
		margin-right: 20px;
	}
	.text-wraper {
		display: none;
	}
	.secondsection {
		flex-direction: column;
	}
	.smalldiv {
		margin-top: 10px;
	}
	.indiv-1 {
		margin-top: 20px;
	}
	.indiv-2 {
		flex-direction: column;
	}
	.inindiv {
		margin-top: 20px;
	}
	.div-3 {
		justify-content: flex-start;
	}
	.indiv-1 {
		margin-left: 20px;
	}
	.lastdiv {
		max-width: 600px;
		width: 100%;
	}
	.header-1 {
		max-width: 768px;
		width: 100%;
	}
}
@media (max-width: 480px;) {
	.burger-icon {
		display: block;
	}
	.smalldiv {
		width: 100%;
		height: 100%;
	}
	.EMBEDED {
		font-size: 10px;
	}
	.indiv-2 {
		margin-left: 1px;
	}
}
@media (max-width: 320px) {
	.div-3 {
		margin-left: 0;
	}
	.secondsection {
		margin-left: 0;
	}
	.indiv-2 {
		margin-left: 0;
	}
	.html {
		margin-left: 0;
	}
	.header-1 {
		justify-content: flex-start;
	}
}